#azure-login {
    margin: 8em auto 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#azure-login a, #azure-login a:hover {
    display: inline-block;
    padding: 4em 1em;
    max-width: 800px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #78cc01;
    text-decoration: none !important;
    border: 1px solid #FDBF3B;
    text-shadow: 1px 1px 1px #666;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    min-width: 306px;
}

#azure-login a:hover {
    background-color: #70c600;
}

/*#azure-login a:active {*/
/*position: relative;*/
/*top: 1px;*/
/*}*/

/*#login-form {*/
/*margin-bottom: 0em;*/
/*-moz-border-radius: 0px;*/
/*-webkit-border-radius: 0px;*/
/*border-radius: 0px;*/
/*border-bottom: none;*/
/*display: none;*/
/*}*/
